<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="../../css/mini-default.min.css"/>
		<script src="../../js/script.js"></script>
		<script src="../../js/[LANG]_verbs.js"></script>
    <title>[TITLE]</title>
		<script>
			document.addEventListener("selectionchange", () => {
				const actions = document.getElementById("actions");
				const text = getSelectedText();
				if (text.length) {
					const verbTenses = findVerbTenses(text);
					let conjugationText = "Спряжение";
					if (verbTenses !== undefined) {
						const tenseIds = formToTenses[text];
						conjugationText = `${verbTenses.infinitives}${verbTenses.type === "irregular" ? "*" : ""}: ${verbTenses.tenses}`; 
					}
					const btnConjugation = document.getElementById("btnConjugation");
					btnConjugation.value = conjugationText;
				}
				
    		actions.style.display = text.length ? "block" : "none";
			});

			const path = `[SELF_PATH]`;
			setCookie("recent", path, 31);
		</script>
		<style>
		  .chapter-links a, .current { margin-right: 10px; white-space: normal; }
			.current { font-weight: bold; }
		</style>
  </head>
  <body>
    <main class="container">
			<div><a href="../../index.html">Главная</a></div>
      [BODY]
			<div id="actions" style="position: fixed; bottom: 0; display: none;">
				<input onClick='translation(getSelectedText(), "[LANG]", "ru")' type="button" value="Перевод" class="secondary rounded"/>
				<input id="btnConjugation" onClick="conjugation(getSelectedText())" type="button" value="Спряжение" class="secondary rounded"/>
			</div>
		</main>
  </body>
</html>