<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="../../css/mini-default.min.css"/>
		<script src="../../js/script.js"></script>
		<script src="../../js/[LANG]_verbs.js"></script>
    <title>[TITLE]</title>
		<script>
			async function translate() {
				const text = getSelectedText();
				const btnTranslation = document.getElementById("btnTranslation");
				const btnConjugation = document.getElementById("btnConjugation");
				btnTranslation.style.display = "none";
				btnConjugation.style.display = "none";
				if (text.length) {
					const verbTenses = findVerbTenses(text);
					console.log(verbTenses)
					let conjugationText;
					if (verbTenses !== undefined) {
						const tenseIds = formToTenses[text];
						conjugationText = `${verbTenses.infinitives}${verbTenses.type === "irregular" ? "*" : ""}: ${verbTenses.tenses}`; 
						btnConjugation.value = conjugationText;
						btnConjugation.style.display = "block";
					}

					const translationText = await getYandexTranslation(text);
					if (translationText !== undefined) {
						btnTranslation.value = translationText;
						btnTranslation.style.display = "block";
					}
				}
			}

			document.addEventListener("selectionchange", async () => {
				translate();
			});

			document.addEventListener("touchend", async () => {
				translate();
			});

			const path = `[SELF_PATH]`;
			setCookie("recent", path, 31);
		</script>
		<style>
		  .chapter-links a, .current { margin-right: 10px; white-space: normal; }
			.current { font-weight: bold; }
		</style>
  </head>
  <body>
    <main class="container">
			<div><a href="../../index.html">Главная</a></div>
      [BODY]
			<div style="position: fixed; bottom: 0;">
				<input id="btnTranslation" style="display: none;" onClick='translation(getSelectedText(), "[LANG]", "ru")' type="button" value="Перевод" class="secondary rounded"/>
				<input id="btnConjugation" style="display: none;" onClick="conjugation(getSelectedText())" type="button" value="Спряжение" class="secondary rounded"/>
			</div>
		</main>
  </body>
</html>